<a href="https://colab.research.google.com/github/congtrung2k1/1st-Unity-Game-CS/blob/master/LAB/lab1_TruongCongTrung_ITITIU19059.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Check whether the given strings contain `0xB0`

```
line1 = 'start address: 0xA0, func1 address: 0xC0'
line2 = 'end address: 0xFF, func2 address: 0xB0'
```

In [43]:
import re

sen = ['start address: 0xA0, func1 address: 0xC0', 'end address: 0xFF, func2 address: 0xB0']

def contain(s: str) -> bool:
      return re.search(r"(0xB0)", s)

for i in sen:
  if contain(i):
    print(i)

end address: 0xFF, func2 address: 0xB0

2) Replace all occurrences of `5` with `five` for the given string.

In [34]:
sen = ['start addr5ess:5 0xA50, 5func51 add5res5s:5 0xC50', 'end5 ad5dress: 0xF5F, fu5nc2 addr5ess: 0xB0']

def rep(s: str) -> str:
  return re.sub(r"5", "five", s)

for i in range(0, len(sen)):
  sen[i] = rep(sen[i])
  print(sen[i])

start addrfiveess:five 0xAfive0, fivefuncfive1 addfiveresfives:five 0xCfive0
endfive adfivedress: 0xFfiveF, fufivenc2 addrfiveess: 0xB0

3) Replace first occurrence of `5` with `five` for the given string.

In [33]:
sen = ['start addr5ess:5 0xA50, 5func51 add5res5s:5 0xC50', 'end5 ad5dress: 0xF5F, fu5nc2 addr5ess: 0xB0']

def rep_first_5(s: str) -> str:
  return re.sub(r"5", "five", s, 1)

for i in range(0, len(sen)):
  sen[i] = rep_first_5(sen[i])
  print(sen[i])

start addrfiveess:5 0xA50, 5func51 add5res5s:5 0xC50
endfive ad5dress: 0xF5F, fu5nc2 addr5ess: 0xB0

4) For the given list, filter all elements that do *not* contain `e`.

In [37]:
sen = ["start", "addr5ess:5", "0xA50,", "5func51", "add5res5s:5", "0xC50',", "'end5", "ad5dress:", "0xF5F,", "fu5nc2", "addr5ess:", "0xB0"]

def rep_not_e(s: list) -> list:
  reg = re.compile(r"^((?!e).)*$")
  return [x for x in s if reg.match(x)]
  #return [x for x in s if not re.search(r"e", x)]

rep_not_e(sen)

['start', '0xA50,', '5func51', "0xC50',", '0xF5F,', 'fu5nc2', '0xB0']

5) Replace all occurrences of `note` irrespective of case with `X`.

In [39]:
sen = ['start anotedress: 0xA0NoTe, funnotec1 address:NOTEe0xC0', 'end addressnOte: 0xFF, func2 addnoTeress: 0xB0']

def rep_note(s: str) -> str:
  return re.sub(r"note", "X", s, flags=re.I)

for i in range(0, len(sen)):
  sen[i] = rep_note(sen[i])
  print(sen[i])

start aXdress: 0xA0X, funXc1 address:Xe0xC0
end addressX: 0xFF, func2 addXress: 0xB0

6) Check if `at` is present in the given byte input data.

In [52]:
sen = [b"statrt", b"atddr5ess:5", b"0xA50,", b"5func51", b"add5res5s:5", b"0xC50,", b"end5", b"atd5dress:", b"0xF5F,", b"fu5nc2", b"addr5ess:", b"0xB0"]

def rep_at(s: bytes) -> bool:
  return re.search(rb"at", s)

for i in sen:
  if rep_at(i):
    print(i)

b'statrt'
b'atddr5ess:5'
b'atd5dress:'

7) For the given input string, display all lines not containing `start` irrespective of case.

In [60]:
sen = ['start anotedress: 0xA0NoTe, funnotec1 address:NOTEe0xC0', 'end addressnOte: 0xFF, func2 addnoTeress: 0xB0', 'stArt anotedress: 0xA0NoTe, funnotec1 address:NOTEe0xC0','strt anotedress: 0xA0NoTe, funnotec1 address:NOTEe0xC0']

def rep_not_start(s: str) -> bool:
  reg = re.compile(r"^((?!start).)*$", flags=re.I)
  return reg.match(s)
  #return not re.search(r"start", s, flags=re.I)

for i in sen:
  if rep_not_start(i):
    print(i)

end addressnOte: 0xFF, func2 addnoTeress: 0xB0
strt anotedress: 0xA0NoTe, funnotec1 address:NOTEe0xC0

8) For the given list, filter all elements that contains either `a` or `w`.

In [66]:
sen = ["statrt", "atddr5ess:5", "0xA50,", "5func51", "add5wqres5s:5", "0xwC50,", "end5", "atd5drewss:", "0xF5F,", "fu5nc2", "addr5ess:", "xB0"]

def rep_aw(s: str) -> bool:
  return re.search(r"(a|w)", s)

for i in sen:
  if rep_aw(i):
    print(i)

statrt
atddr5ess:5
add5wqres5s:5
0xwC50,
atd5drewss:
addr5ess:

9) For the given list, filter all elements that contains both `e` and `n`.

In [68]:
sen = ["statrt", "atddr5ess:5", "0xA50,", "5func51", "add5wqres5s:5", "0xwC50,", "end5", "atd5drewss:", "0xF5F,", "fu5nc2", "addr5ess:", "xB0"]

def rep_en(s: str) -> bool:
  return re.search(r"e", s) and re.search(r"n", s)

for i in sen:
  if rep_en(i):
    print(i)

end5

10) For the given string, replace `0xA0` with `0x7F` and `0xC0` with `0x1F`.

```
ip = 'start address: 0xA0, func1 address: 0xC0'
```

In [70]:
def rep_0xA0_0xC0(s: str) -> str:
  return re.sub(r"0xA0", "0x7F", re.sub(r"0xC0", "0x1F", s))

ip = 'start address: 0xA0, func1 address: 0xC0'
print(rep_0xA0_0xC0(ip))

start address: 0x7F, func1 address: 0x1F

11) For the given input list, filter all elements that contains `42` surrounded by word characters.

```
words = ['hi42bye', 'nice1423', 'bad42', 'cool_42a', 'fake4b']
```

In [72]:
words = ['hi42bye', 'nice1423', 'bad42', 'cool_42a', 'fake4b']

def rep_42(s: list) -> list:
  return [x for x in s if re.search(r"\B42\B", x)]

rep_42(words)

['hi42bye', 'nice1423', 'cool_42a']

12) For the given list, filter all elements having a line starting with `den` or ending with `ly`.

```
items = ['lovely', '1\ndentist', '2 lonely', 'eden', 'fly\nfar', 'dent']
```

In [87]:
items = ['lovely', '1\ndentist', '2 lonely', 'eden', 'fly\nfar', 'dent']

def rep_den_ly(s: list) -> list:
  return [x for x in s if re.search(r"^den|ly$", x, flags=re.M)]

print(rep_den_ly(items))

['lovely', '2 lonely', 'dent']

13) For the input list `words`, remove all elements having less than `6` characters.

In [91]:
words = ['hi42bye', 'nice1423', 'bad42', 'cool_42a', 'fake4b']

def rep_greater_6(s: list) -> list:
  return [x for x in s if re.search(r".{6,}", x)]

print(rep_greater_6(words))

['hi42bye', 'nice1423', 'cool_42a', 'fake4b']

14) For the input list `words`, filter all elements starting with `s` or `t` and having a maximum of `6` characters.

```
words = ['sequoia', 'subtle', 'exhibit', 'asset', 'sets', 'tests', 'site']
```

In [116]:
words = ['sequoia', 'subtle', 'exhibit', 'asset', 'sets', 'tests', 'site']

def rep_st_6(s: list) -> list:
  return [x for x in s if re.fullmatch(r"^[st].{,5}", x)]

print(rep_st_6(words))

['subtle', 'sets', 'tests', 'site']

15) For the given list of strings, change the elements into a tuple of original element and number of times `t` occurs in that element.

```
words = ['sequoia', 'attest', 'tattletale', 'asset']
```

In [115]:
words = ['sequoia', 'attest', 'tattletale', 'asset']

def cnt_t(s: str) -> int:
  return len(re.findall(r't', s))

res = []
for i in words:
  res.append((i, cnt_t(i)))
print(res)

# def cnt_t(s: list) -> list:
#   return [re.subn(r't','t',x) for x in s]
# print(cnt_t(words))

[('sequoia', 0), ('attest', 3), ('tattletale', 4), ('asset', 1)]

16) For the list `words` below, filter all elements containing `e` or `i` followed by `l` or `n`. Note that the order mentioned should be followed.

```
words = ['surrender', 'unicorn', 'newer', 'door', 'empty', 'eel', 'pest']
```

In [118]:
words = ['surrender', 'unicorn', 'newer', 'door', 'empty', 'eel', 'pest']

def rep_ei_ln(s: list) -> list:
  return [x for x in s if re.search(r"[ei].*[ln]", x)]

print(rep_ei_ln(words))

['surrender', 'unicorn', 'eel']

17) Delete from `(` to the next occurrence of `)` unless they contain parentheses characters in between.

```
str1 = 'def factorial()'
str2 = 'a/b(division) + c%d(#modulo) - (e+(j/k-3)*4)'
str3 = 'Hi there(greeting). Nice day(a(b)'
```

In [128]:
sen = ['def factorial()', 'a/b(division) + c%d(#modulo) - (e+(j/k-3)*4)', 'Hi there(greeting). Nice day(a(b)']

def rep_parentheses(s: list) -> list:
  return [re.sub(r"\([^()]*\)", "", x) for x in s]

print(rep_parentheses(sen))

['def factorial', 'a/b + c%d - (e+*4)', 'Hi there. Nice day(a']

18) Split the given strings based on consecutive sequence of digit or whitespace characters.

```
str1 = 'lion \t Ink32onion Nice'
str2 = '**1\f2\n3star\t7 77\r**'
```

In [131]:
sen = ['lion \t Ink32onion Nice', '**1\f2\n3star\t7 77\r**']

def rep_1(s: list) -> list:
  return [re.split(r"[\d\s]+", x) for x in s]

print(rep_1(sen))

[['lion', 'Ink', 'onion', 'Nice'], ['**', 'star', '**']]

19) For the given list, filter all elements containing any number sequence greater than `624`.

```
items = ['hi0000432abcd', 'car00625', '42_624 0512', '3.14 96 2 foo1234baz']
```

In [137]:
items = ['hi0000432abcd', 'car00625', '42_624 0512', '3.14 96 2 foo1234baz']

def rep_2(s: list) -> list:
  return [x for x in s if any(int(i[0]) > 624 for i in re.finditer(r'\d+', x))]

print(rep_2(items))

['car00625', '3.14 96 2 foo1234baz']

20) Replace sequences made up of words separated by `:` or `.` by the last word of the sequence. Such sequences will end when `:` or `.` is not followed by a word character.

```
ip = 'wow:Good:2_two:five: hi-2 bye kite.777.water.'
```

In [148]:
ip = 'wow:Good:2_two:five: hi-2 bye kite.777.water.'

def rep_3(s: list) -> str:
  return re.sub(r"((\w+)[:.])+", r"\2", s)

print(rep_3(ip))

five hi-2 bye water